

$font-main: "Tajawal", sans-serif;
$font-heading: "Cairo", sans-serif;
$body-background-image: url("../image/A.avif");

$font-main-url: url("../fonts/Tajawal/Tajawal-VariableFont_slnt,wght.ttf");
$font-heading-url: url("../fonts/Cairo/Cairo-VariableFont_slnt,wght.ttf");


$moon-bg: #E2EAEB;
$moon-main: #3D5656;
$moon-white: #ffffff;

$moon-main-dark: darken($moon-main, 10%);
$moon-main-light: lighten($moon-main, 20%);
$moon-main-lighter: lighten($moon-main, 30%);
