#step2 {
  .radio-item {
    margin: 10px 0;
    display: block;
    width: 100%;
    input[type="radio"] {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
    }
    label {
      display: block;
      padding: 14px 20px;
      background-color: rgba(0, 0, 0, 0.85);
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
      color: white;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      border-radius: 20px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      transition: all 0.3s ease-in-out;
    }

    &:hover label {
      background-color: rgba(70, 144, 45, 0.5);
      border-color: #46902d;
      transform: translateY(-2px);
    }

    input[type="radio"]:checked + label {
      background-color: #46902d; /* أخضر صريح */
      color: white;
      border-color: #ffffff;
      box-shadow: 0 4px 15px rgba(70, 144, 45, 0.4);
      transform: scale(1.02); /* تكبير بسيط جداً لتمييز المختار */
    }
  }

  .step-return {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 14px 20px;
    background-color: rgba(55, 2, 2, 0.85);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    color: white;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease-in-out;
    i {transition: transform 0.3s ease-in-out;}
    &:hover {
      background-color: rgba(215, 0, 0, 0.98);
      border-color: #46902d;
      transform: translateY(-2px);
      i {transform: translateX(10px);}
    }

  }
}
