@use "./config" as *;
@use "./step1" ;
@use "./step2";
@use "./step3";
@font-face {
  font-family: "Cairo";
  src: $font-heading-url format("truetype");
  font-weight: 200 1000;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tajawal";
  src: $font-main-url format("truetype");
  font-weight: 200 1000;
  font-style: normal;
  font-display: swap;
}


:root {
  --moon-bg-color: #E2EAEB;
  --moon-main-color: #3D5656;
  --moon-white-color: #ffffff;
  --moon-main-dark-color: #3D5656;
  --moon-main-light-color: #3D5656;
  --moon-main-lighter-color: #3D5656;
}

h1, h2, .header, .heading-style {
    font-family: $font-heading;
    font-weight: 700;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}



body {
    background-color: var(--moon-bg-color);

    font-family: $font-main;
    overflow-x: hidden;
    background: $body-background-image no-repeat center/cover;
    height: 100vh;
    width: 100%;

}


button {

  margin: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
}
#steps_container {
  background: rgba(138, 201, 118, 0.151);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px 0px;
  padding: 1.5rem 0;
  border: 1px solid rgba(64, 11, 94, 0);
  box-shadow: 0 8px 32px rgba(146, 16, 16, 0.2);
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step {
  width: 100%;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 30px;


  h2 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    background-color: rgba(149, 25, 25, 0);
  }
  .step_radio {
    color: rgb(0, 0, 0);
    background-color: #b81b1b00;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .step-buttons {
    width: 50%;
    display: flex;

    justify-content: space-between;

    .step-button {
      background-color: #46902da3;
    }
  }


}

// .step_box {
//   display: flex;
//   background-color: #000000a3;
// }


.evaluation_content {
    display: flex;
   // justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    text-align: center;
    h4{
      font-size: 2rem;
      font-weight: bold;
      font-family: $font-heading;
    }




}


.step_radio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    padding: 10px 0;
}


.radio-item1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.radio-item1 label {
    background-color: #2d2d2d;
    border-radius: 20px;
    padding: 1rem;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    width: 100%;
    text-align: center;
    cursor: pointer;
    display: block;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #46902d;
      transform: translateY(-5px);
      color: #000;


    }
}

.radio-item1 input[type="radio"] {
    display: none;
}

.radio-item1 input[type="radio"]:checked + label {
    background-color: #d4af37;
    color: black;
    transform: translateY(-10px);
    font-family: $font-heading;
}



#step100 {
  button{
    background-color: #46902d;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 50%;
    &:hover {
      
      background-color: #7e7e7e;
      transform: translateY(-5px);
      color: #000;
    }
  }
}